.info {
    background-color: #f8f8f8;
    overflow: hidden;
    padding: 170px 0;
}

.info__title {
    text-align: center;
    line-height: .8;
    font-size: 160px;
    text-transform: uppercase;
}

.info__img {
    max-width: 100%;
    margin: 0 auto;
}

.info__content {
    display: flex;
    padding-left: 155px;
    padding-right: 100px;
    margin-bottom: 170px;
    gap: 94px;
}

.info__list {
    column-count: 2;
    gap: 140px;
}

.info__list dt,
.info__list dd {
    display: inline-block;
}

.info__list-line {
    margin-bottom: 22px;
}

.order-box {}

.price {
    font-size: 56px;
    margin-bottom: 40px;
}

.order {
    padding: 30px 60px;
    background: linear-gradient(180deg, #ff5017 0%, #ff6837 100%);
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 24px;

}

.info__gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    flex-wrap: wrap;
}

.info__gallery img {
    max-width: 100%;
}

@media(max-width:1820px) {
    .info__gallery {
        gap: 24px;
    }

    .info__gallery img {
        width: 49%;
    }

    .info {
        padding: 100px 0;
    }

    .info__title {
        font-size: 86px;
    }

    .info__content {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 100px;
        gap: 20px;
    }
}

@media(max-width:1040px) {
    .info__gallery img {
        width: 100%;
    }

    .info__list {
        gap: 20px;
    }

    .info__content {
        margin-bottom: 50px;
    }

    .price {
        font-size: 32px;
        margin-bottom: 10px;
    }
}

@media (max-width:670px) {
    .info__title {
        font-size: 54px;
    }

    .info__list {
        column-count: 1;
    }

    .info__list-line {
        margin-bottom: 5px;
        font-size: 18px;
    }
}

@media (max-width:670px) {
    .info__content {
        display: block;
        text-align: center;
    }
}
@media (max-width:530px){
    .info{
        padding: 50px 0;
    }
    .info__title{
        font-size: 44px;
        line-height: 1;
    }
}