*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:inherit;
}
ol,
ul,
li{
    list-style: none;
}
button{
    cursor:pointer;
}
body {
    font-family: 'Inter',sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.3;
    font-style: normal;
}
.container{
    max-width: 1840px;
    padding: 0 10px;
    margin: 0 auto;
}